@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scroll.css';
@import './colors.scss';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @apply bg-gray-100;
}

textarea {
  resize: vertical;
  max-height: 150px;
}
